*{
    padding: 0;
    margin: 0;
}

  body{
      font-family: tahoma;
      direction: rtl;
      background: #263f57;
  }
  
.container {
    padding-right: 15px;
    padding-left: 15px;
  }
@media screen and (max-width:1400px){
  .container {
    max-width:1320px
  }
}  


/*           start          */
/*           start          */
/*           start          */



.content {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
}
.btn-primary {
  position: relative;
  padding: 10px 50px;
  background-color: #3f9afd;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 0 17px;
  overflow: hidden;
}
.alert {
  width: 230px;
    height: 40px;
    display: flex;
    background-color: #6075cecc;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: -100%;
    overflow: hidden;
}

.alert .close {
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #ccc;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 11;
  user-select: none;
}
.alert span {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.alert.show {
  animation: alert .5s forwards;
}
.alert.hide {
  animation: hide .5s forwards;
}
@keyframes alert {
  0% {
    right: 50px;
  }
  50% {
    right: 0;
  }
  100% {
    right: 30px;
  }
}
@keyframes hide {
  0% {
    right: 0px;
  }
  50% {
    right: 50px;
  }
  100% {
    right: -100%;
  }
}
.alert.show::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2.5px;
  width: 0;
  background-color: #aaa;
  animation: pro 5s forwards ease-in-out;
}
@keyframes pro {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}